USERS_DB_NAME=
USERS_DB_USER=
USERS_DB_PASSWORD=
USERS_DB_HOST=
USERS_DB_PORT=
USERS_DB_URl=
USERS_SERVER_URL=

PRODUCTS_DB_NAME=
PRODUCTS_DB_USER=
PRODUCTS_DB_PASSWORD=
PRODUCTS_DB_HOST=
PRODUCTS_DB_PORT=
PRODUCTS_DB_URl=
PRODUCTS_SERVER_URL=

ORDERS_DB_NAME=
ORDERS_DB_USER=
ORDERS_DB_PASSWORD=
ORDERS_DB_HOST=
ORDERS_DB_PORT=
ORDERS_DB_URl=